### Module 4 Exercise

1. How many occurences of "row" is in "Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek."

In [1]:
message = " Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek. "
print(">>>"+message+"<<<")
message.count("row")

>>> Row, row, row your boat. Gently down the stream. Merrily, merrily, merrily, merrily. Life is but a dream. Row, row, row your boat. Gently up the creek. <<<

4

2. Ask a user for a name, color, and an animal.  <br>
Then using string format method per each line, show following:<br>
<b><i>name</i></b> had a little <b><i>animal</i></b>. <br>
It was <b><i>color</i></b> as snow. <br>
And everywhere that <b><i>name</i></b> went, the <b><i>animal</i></b> was sure to go.

In [2]:
name=input()
animal=input()
color=input()
print(name,"had a" ,animal,".\nIt was",color,"as snow. \nAnd everywhere that",name,"went, the",animal,"was sure to go.")

Mary
little lamb
white
Mary had a little lamb .
It was white as snow.
And everywhere that Mary went, the little lamb was sure to go.

3. Print 3.14159 in a scientific number notation

In [3]:
no1 = 3.14159
print(f"{no1:e}")

3.141590e+00

4. Print 3.1559 in 3 decimal places

In [4]:
no1 = 3.14159
print(f"{no1:.3e}")

3.142e+00

5. Print 1589.92341 in a scientific number notation to the power of 3

In [5]:
no2=1589.92341
print(f"{no2:.3e}")

1.590e+03

6. Convert 39 to a binary number using floor division and mod operators. Then, compare your answer using bin() and int() functions.

In [6]:
39%2

1

In [7]:
39//2

19

In [8]:
19%2

1

In [9]:
19//2

9

In [10]:
9%2

1

In [11]:
9//2

4

In [12]:
4%2

0

In [13]:
4//2

2

In [14]:
2%2

0

In [15]:
2//2

1

In [16]:
1%2

1

In [17]:
print("39=100111 in binary")

39=100111 in binary

In [18]:
bin(39)

'0b100111'

In [19]:
int(0b100111)

39

7. Convert 39 to an octal number using floor division and mod operators. Then, compare your answer using oct() and int() functions.

In [20]:
39%8

7

In [21]:
39//8

4

In [22]:
4%8

4

In [23]:
4//8

0

In [24]:
oct(39)

'0o47'

In [25]:
int(0o47)

39

8. Convert 39 to a hexadecimal number using floor division and mod operators. Then, compare your answer using hex() and int() functions.

In [26]:
39%16

7

In [27]:
39//16

2

In [28]:
2%16

2

In [29]:
2//16

0

In [30]:
hex(39)

'0x27'

In [31]:
int(0x27)

39

9. Ask a user for an amount and a tax rate in percentage. Then, display the amount, rate in percentage, calculated tax amount, and the total (amount + tax amount) in one <b>nice</b> formmated print statement.

In [32]:
amount = int(input())
tax_percentage = int(input())
tax=tax_percentage/100
total_tax = amount+(amount*tax)
print("Amount=$",amount)
print("Tax=",tax_percentage,"%")
print(f"Total tax: ${amount*tax:,.2f}")
print(f"Subtotal: ${amount + total_tax:,.2f}")

500
10
Amount=$ 500
Tax= 10 %
Total tax: $50.00
Subtotal: $1,050.00